
body {
    overflow-x: hidden;
    font-family: "Lato",sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    font-weight: 300;
    color: #000000;
}

.text-muted {
    color: #777;
}

.text-primary {
    color: #00bcd4;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #00bcd4;
    font-weight: 400;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #00bcd4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato",sans-serif;
    font-weight: 500;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #e1e1eb;
}

.bg-darkest-gray {
    background-color: #222;
}

.btn-primary {
    border-color: #00bcd4;
    text-transform: uppercase;
    font-family: "Lato",sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #00bcd4;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #f6bf01;
    color: #fff;
    background-color: #00bcd4;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #00bcd4;
    background-color: #00bcd4;
}

.btn-primary .badge {
    color: #00bcd4;
    background-color: #fff;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #00bcd4;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: "Lato",sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #00bcd4;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #f6bf01;
    color: #fff;
    background-color: #00bcd4;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #00bcd4;
    background-color: #00bcd4;
}

.btn-xl .badge {
    color: #00bcd4;
    background-color: #fff;
}

.navbar-default {
    border-color: transparent;
    background-color: #484959;
}

.navbar-default .navbar-brand {
    font-family: sofia,"Helvetica Neue",Helvetica,Arial,cursive;
    color: white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: white;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #00bcd4;
    background-color: #00bcd4;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #00bcd4;
}

.navbar-default .nav li a {
    font-family: "Lato",sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #00bcd4;
    font-weight: 400;
}

.nav li.strong-link a {
    font-weight: 400;
}

.nav li.selected-link a,
.nav li.selected-link a:hover,
.nav li.selected-link a:focus,
 {
    color: #00bcd4;
    font-weight: 600;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #00bcd4;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #00bcd4;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 10px 0;
        border: 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #484959;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    box-sizing: content-box;
}

p {
    font-size: 16px;
    line-height: 22.8px;
    margin-bottom: 20px;
}

h3, h4 {
    color: #616166;
    text-transform: none;
}

h4 {
    font-weight: 400;
    font-size: 20px;
}

h3 {
    font-size: 24px;
    font-weight: 300;
}

.landing h4 img {
    margin-bottom: 3px;
    margin-right: 5px;
}

.pt {
    margin-top: 40px;
    margin-bottom: 40pxj;
}

.add-to-slack {
    margin: 40px 0px;
}

header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-color: #484959;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 140px;
    padding-bottom: 50px;
    min-height: 500px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Lato",sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    font-family: "Lato",sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 140px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Lato",sans-serif;
        font-size: 48px;
        font-weight: 400;
        line-height: 48px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 25px;
        font-family: "Lato",sans-serif;
        font-size: 24px;
        font-weight: 300;
        line-height: 24px;
    }
}

section {
    padding: 60px 0;
}

section h2.section-heading {
    text-transform: none;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 300;
}

section .section-heading strong {
    font-weight: 500;
}

@media(min-width:768px) {
    section {
        padding: 60px 0;
    }
}

.demo-img {
    max-width: 800px;
    object-fit: scale-down;
    width: 100%;
}

footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    text-transform: none;
    font-family: "Lato",sans-serif;
    line-height: 40px;
    font-weight: 300;
    font-size: 16px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: "Lato",sans-serif;
    line-height: 40px;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}
